@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Spartan", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: 0px -10px, 300px 220px;
    overflow: hidden;
}

main {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.bg {
    position: absolute;
}

.bg-upper {
    top: 0;
    left: 0;
    width: 49%;
}

.bg-lower {
    bottom: 0;
    right: 0;
    width: 75%;
}
.upper {
    display: flex;
}
.opener {
    font-size: 1.5em;
    padding-right: 8em;
    letter-spacing: 1px;
}
.upper > div > p {
    font-size: 0.6em;
    padding-top: 0.5em;
    color: hsl(303, 10%, 53%);
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 500;
}

.ratings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r-1 {
    align-self: flex-start;
}

.r-3 {
    align-self: flex-end;
}

.ratings > div {
    width: 75%;
    background: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    margin: 0.5em 0;
    height: 20%;
    border-radius: 0.35em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1em;
}
.ratings > div > p {
    padding-left: 2em;
    font-weight: 700;
    font-size: 0.8em;
}
.ratings > div > img {
    width: 1em;
    height: 1em;
}

.stars {
    display: flex;
    gap: 5px;
}

h1 {
    color: hsl(300, 43%, 22%);
    letter-spacing: -0.05em;
}

article {
    background: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    width: 33%;
    padding: 2.25em 2em;
    border-radius: 0.5em;
}

.reviews {
    display: flex;
    gap: 2em;
    padding-top: 5rem;
    height: 50%;
}

.user-info {
    display: flex;
    gap: 1em;
    align-items: center;
}

.c-review {
    justify-self: flex-start;
    position: relative;
    bottom: 1em;
}

.a-review {
    position: relative;
    top: 1em;
    justify-self: flex-end;
}

.user-info > img {
    border-radius: 50%;
    width: 15%;
}

h2 {
    font-size: 0.8em;
}

.user-info > div {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.user-info > div > p {
    color: hsl(333, 80%, 67%);
    font-size: 0.8em;
}

.user-info + p {
    color: hsl(300, 24%, 96%);
    font-size: 0.8em;
    font-weight: 500;
    padding-top: 2em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .bg {
        width: 100%;
    }

    .upper {
        flex-direction: column;
    }
    .reviews {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding-top: 2em;
    }

    .c-review,
    .a-review,
    .i-review {
        position: unset;
        justify-self: unset;
        width: unset;
    }

    .r-1,
    .r-3 {
        align-self: unset;
    }

    .ratings > div {
        flex-direction: column;
        width: 100%;
        padding: 1em 0;
        height: 3em;
        gap: 1em;
    }

    main {
        align-items: center;
        width: 80%;
        padding: 4.5em 0;
    }

    body {
        overflow: unset;
        height: unset;
    }

    footer {
        display: none;
    }

    .opener {
        padding: unset;
        text-align: center;
    }
    h1 {
        text-align: center;
        padding: 0 1em;
        font-size: 1.3em;
        line-height: 1em;
    }

    .upper > div > p {
        font-size: 0.6em;
        letter-spacing: -0.06em;
        padding: 1.5em 0;
        margin: 0;
    }

    .user-info + p {
        font-size: 0.8em;
    }

    article {
        font-size: 1em;
        padding-right: 1.2em;
    }
}
